<ul class="menu">
    <li class="menu-item"
        ng-repeat="item in vm.data">

        <!-- 目录节点 -->
        <a ng-if="item.childMenus.length > 0"
           class="menu-link"
           ng-class="{opened: item.opened}"
           ng-click="vm.toggleOpen(item)">
            {{item.name}}
            <i class="iconfont icon-nextpage"></i>
        </a>
        <!-- 叶子节点 -->
        <a ng-if="item.isLeaf==='0'"
           class="menu-link"
           ng-class="{active: $state.includes(item.url)}"
           href=""
           ui-sref-active="active"
           ui-sref="{{item.url}}({brand:'{{item.brand}}'})"
           ui-sref-opts="{reload:true}"
        >{{item.name}}</a>

        <!-- 子目录 -->
        <side-nav ng-if="item.childMenus.length > 0"
                  data="item.childMenus">
        </side-nav>
    </li>
</ul>
