.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}
.header {
    padding: 0;
    background: tomato;
}
.navigation {
    list-style: none;
    margin: 0;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
}
.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}
.footer {
    background: lightgreen;
}
.main {
    display: flex;
    padding: 0;
    flex: 1;
}
.aside {
    background: gold;
}
@media all and (min-width: 600px) {
    .aside { flex: 1 auto; }
}
@media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .main    { order: 2; }
    .footer  { order: 4; }
}
